#game {
    display: none;
}

#joinModal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#qrcode {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    display: block;
}

#joinForm, #inviteModal {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    min-height: 300px;
    width: 150px;
}

#joinForm input[type="text"] {
    width: 80%;
}

#joinForm button, #inviteModal button {
    margin-top: 10px;
}

#gameOverModal {
    background-color: antiquewhite;
    z-index: 10;
    border-color: black;
    border-width: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10%;
}


#rematchModal {
    background-color: antiquewhite;
    z-index: 12;
    border-color: black;
    border-width: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10%;
}


#profileBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#profileBar h2, #profileBar span {
    margin: 0 10px;
}

#gameSelection {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
}

#playLocal, #playWithFriend, #playWithComputer {
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #gameSelection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .difficulty-container {
        justify-content: space-around;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F39E60; /* Lightest color for background */
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.title {
    padding-top: 20px;
    color: #7C444F;
}


.game-cards {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.game-card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #E16A54; /* Medium color for card background */
}
