<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect 4</title>
    <link rel="icon" type="image/x-icon" href="https://static.thenounproject.com/png/1579985-200.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="main">
        <h1>Connect 4</h1>
        <div id="gameSelection">
            <div id="playLocal">
                <h2>Play Local</h2>
                <div>
                    <label>Player A Name </label>
                    <input id="playerAName" type="text" value=""/>
                </div>
                <div>
                    <label>Player B Name </label>
                    <input id="playerBName" type="text" value=""/>
                </div>
                <button onclick=handleCreateGame()>Submit</button>
            </div>
            <div id="playWithFriend">
                <h2>Play with a Friend</h2>
                <button onclick=handleCreateLiveGame()>Create A Game</button>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>