<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://static.thenounproject.com/png/1579985-200.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4 Game</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="main">
        <h1>Connect 4 Match</h1>
        <h2>{{ .Player1 }} vs {{ .Player2 }}</h2>
        <h2 id="startPlayer">Turn: <span id="currPlayer">{{ .CurrPlayer }}</span></h2>
        <game-board id="gameBoard"></game-board>
    </div>
    <div id="gameOverModal" style="display: none">
        <h2 id="gameOverHeading"></h2>
        <button id="homeButton">Home</button>
        <button id="rematchButton">Rematch</button>
    </div>
    <script type="module" src="/static/js/components/gameBoard.js"></script>
    <script type="text/javascript" src="/static/js/match.js"></script>
</body>
</html>